.add-book-title {
  font-size: 1.3em;
  color: #8f8d8d;
  font-weight: bold;
  margin-left: 5.5em;
}

.form {
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
}

.add-title {
  width: 35vw;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.add-author {
  width: 25vw;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

.add-book-btn {
  width: 15vw;
  height: 50px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-weight: 700;
  border: none;
  background-color: #0290ff;
  color: #fff;
  cursor: pointer;
}

.hr {
  background-color: #f9f9f9;
  height: 0.01px;
  width: 85%;
  margin: 40px auto;
}

input::placeholder {
  color: #000;
  font-size: 1.3em;
  opacity: 0.5;
}

.check-status {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
  margin: 50px;
}

.check-status:hover {
  background-color: #3e8e41;
}

.check-status:active {
  background-color: #3e8e41;
  box-shadow: 0 7px #666;
  transform: translateY(4px);
}

.construction {
  font-size: 2.5em;
  margin: 50px;
  font-weight: 700;
  text-shadow: 2px 3px 4px;
}
