.categories-btn,
.remove-btn,
.add-book {
  padding: 6px;
  margin: 20px;
  cursor: pointer;
  width: 100px;
}

input {
  display: block;
  padding: 5px;
  margin: 10px 5px;
}

::placeholder {
  font-style: italic;
}

.booklists {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.lists {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.books {
  border: 1px solid;
  width: 50%;
}
